html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
}

#container {
    text-align: center;
}
    
#board {
    border: 3px solid white;
}

#score {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#reset {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    border: none;
    color: white;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #61afef;
}

#reset:hover {
    background-color: #528bff;
}

#controls {
    display: none;
}

@media (max-width: 768px) {
    #controls {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #container {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }

    #board {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 24px;
    }

    #score {
        font-size: 30px;
    }

    #reset {
        font-size: 16px;
    }
}

#controls button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    width: 80px;
}