html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
}

#container {
    text-align: center;
}
    
#board {
    border: 3px solid white;
}

#score {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#reset {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    border: none;
    color: white;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #61afef;
}

#reset:hover {
    background-color: #528bff;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    #score {
        font-size: 48px;
    }
}